---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404: Not Found" includeSidebar={true}>
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-4">¯\_(ツ)_/¯</h1>
    <h3 class="text-2xl">Page not found</h3>
    <a class="btn btn-accent mt-9" href="/">home</a>
  </div>
</BaseLayout>
